body {
  font-family: Arial, sans-serif;
  margin:0;
  background-color:rgb(11,13,12);
  color: rgb(15, 1, 1);
}
* {
  box-sizing: border-box;
}
.logo {
 margin: 65.8px;
 width: 337.70px;
 margin: auto;
}
header {
  text-align:center;
  position:relative;
}
.carousel {
  display: flex;
  width: 80vw;
  border:0px solid gold;
  margin: auto;
}
.carousel-container {
  display:flex;
  justify-content: center;
  transition: transform 0.5s;
  width: 100%; /* Use 100% width for responsiveness */
  border: 0px solid white; /* Add a thin border around each element */
  overflow:visible;
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  margin: 5px;
  margin: auto;
}
.carousel-item{
width: auto;
margin: -20px;
border:0px solid red;
position: relative;
}
#carousel {
  justify-content:center;
  transform: scale(.4);
}
.carousel-item :hover{
  z-index: 1;
  transition: transform 0.5s;
}
.carousel-item.selected {
  transform: scale(1.1); /* Move to the middle and scale up by 10% */
  z-index: 1;
  transition: transform 0.5s;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.3); /* Add a drop shadow */
}












