body {
  font-family: Arial, sans-serif;
  margin:0;
  background-color:rgb(11,13,12);
  color: rgb(15, 1, 1);
}
* {
  box-sizing: border-box;
}

.logo {
 margin-top: 65.8px;
 width: 337.70px;
 
 

}
header {
  text-align:center;
  position:relative;
}
.carousel {
  
  width: 100%;
  height: 100vh;
  perspective: 600px;
  position: absolute;
}








.carousel-container {
  display:flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 100%; /* Use 100% width for responsiveness */
  border: 10px solid blue; /* Add a thin border around each element */
  
  overflow:hidden;
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  top: 50%; /* Center the carousel vertically */
  left: 50%;
  padding: 100px;
  margin: auto;
  
  width:90vw
  
}


.carousel-item img{
  display: flex;
  box-sizing:border-box;
  transition: all 0.3s;
  margin: -50px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5); /* Add a drop shadow */
  

}

.carousel-item{
  flex: 1;
  padding: 10px;
}



.carousel-item :hover{
 
  z-index: 1;
  transition: transform 0.5s;
 
}

.carousel-item.selected {
  transform: scale(1.1); /* Move to the middle and scale up by 10% */
  z-index: 1;
  transition: transform 0.5s;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.3); /* Add a drop shadow */
}












