@font-face {
    font-family: gotham; src: url('gothammedium.ttf') format("truetype");}
    @font-face {
      font-family: gothamlight; src: url('gothamlight.ttf') format("truetype");}
      @font-face {
        font-family: avant; src: url('itc_avant_garde_gothic_bold.otf') format("opentype");}
  


a{
  color: #fff;
}
* {
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 10, 10);
}
footer{
  color: #fff;
  padding-top: 50px;
}
#navbar{
  background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}
#navbar ul {
     
 color: rgb(9, 10, 10);
    display: flex;
    list-style-type: none;
    margin: auto;
    padding:0 5vw;
    overflow: hidden;
    align-items: center;
    
    /* aligning the content of the <ul> to the end
       of the inline axis: */
    justify-content: end;
  }
  
.logo{
   
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex:25%;
        overflow: hidden;
}
.banner img{
width: 100%;
}
.logo img{
    height: 54px;
}

 
  li a {
    display: block;
    
    color: rgb(9, 10, 10);
    font-family:gotham;
    font-size: 28px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
  }
  
  li:first-child {
    /* setting the margin of the inline-end of the
       first-child <li> element to 'auto', in order
       to push the first-child away from the rest of
       the content: */
    margin-inline-end: auto;
   
  }
.description-item{
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  
}
 
 button{
    display: flex;
    padding: 5px;
    background-color: transparent;
    border: solid white;
    font-family: gotham, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 24px;   
    margin: 10px auto;
    color: #fff;
 }
 button:hover{
    border: solid black;
 }
 
  .description-item h1{
    font-family: gotham, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 100px;
  line-height: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #fff;
  }
.home{
  background-image: url(images/showcase1.png);
}
.faq{
  background-image: url(images/faq.png);
}
.pricing{
  background-image: url(images/pricing.png);
}
.tracklist{
  background-image: url(images/tracklist.png);
}
.about{
  background-image: url(images/aboutus.png);
}

  .desc {
   
    background-position: center;
    display:flex;
    width: fit-content;
    margin: auto;
    max-width: 100%;
    height: fit-content;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 977px;
  }
.wrapper {

  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: auto;
  height:fit-content ;
align-items: center;
}

.description-item2 {
  
  font-family: gothamlight, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 24px;
  width: 100%;
  position: relative;
  align-items: center;
justify-content: center;
height: fit-content;
text-align: center;
position: relative;

}
.description-item2 p {
  
  font-family: gothamlight, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 24px;
 
  position: relative;
  align-items: center;
justify-content: center;
height: fit-content;
text-align: center;
position: relative;
display: flex;
}
.description-item2 h2{
  
  font-family: gotham, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 38px;
  width: 100%;
  position: relative;
  align-items: center;
justify-content: center;

text-align: center;
}

    
    .description-item h2{
       
    justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      font-size: 38px;
      font-family: gotham, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
      position: relative;
      margin: auto;
    }
    .description-item1 h2{
    
       padding: 10px 0;
    justify-content: center;
      align-items: center;
      text-align: left;
      color: #fff;
      font-size: 38px;
      font-family: gotham, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
      position: relative;
      margin: auto 5vw;
      line-height: 50px;
    }

    .description-item1 p{
        padding: 10px 0;
        
    justify-content: center;
      align-items: center;
      text-align: left;
      color: #fff;
      font-size: 24px;
      font-family: gothamlight, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
      position: relative;
      margin: auto 5vw;
    }
    .description-item1 li{
      padding: 10px 0;
      
  
    
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-family: gothamlight, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    
    margin: auto 5vw;
  }
  .description-item1 ul{
    list-style-type: square;
    list-style-position: outside;
    
  }
  
  .banner{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
    .pic {
  
        
        display: flex;
       justify-content: center;
        align-items: center;
        width: 50vw;
       flex: 50%;
       height: 100%;
        position: relative;
        
      }
  
  /* Add a media query for screens narrower than 1080px */
  @media (max-width: 1080px) {
    .wrapper {
      flex-direction: column; /* Change to column layout */
    }
    
    
    .banner{
        display: flex;
        width: 100vw;
        position: relative;
        align-items: center;
        justify-content:center ;
        height: 100%;
    }
    .desc {
      width: 100vw; /* Take up full width */
      height: fit-content;
    }
  .description-item h1{
    font-size:68px ;
  }
  .description-item h2{
    font-size: 28px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .description-item2 p{
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .description-item1{
    
    width: 100vw;
    display: flex;
    flex-direction:column ;
    position: relative;
    align-items: left;
justify-content: center;
height: 100%;


  }



  .description-item2 img{
height: 100%;
width: 100%;

  }

  @media (min-width: 1080px) {

    .pic {
        justify-content: center;
          display: flex;
          align-items: center;
          position: relative;
          margin: auto;
          display: inline-flex;
  
  
  
  height: fit-content;
  flex: 50%;
  position: relative;
  
  justify-content: center;
        }
      }
      
    }
    .socials {
    
           
            display: flex;
            justify-content: center;
            align-items: center;
        
          }
          
          .socials a:hover{
          opacity: 1;
          }
          .socials a{
            opacity:.5;
            }
          
          .socials img {
           
           width: 60px;
           position: relative;
           justify-content: center;
            
          }
          
          .copytext{
            padding: 32.1576px;
            font-size:10.8677px ;
            text-align: center;
          margin: auto;
          font-family: gothamlight,  Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
          color: #fff;
          }
          .description-item1{
            
            width: 100vw;
            display: flex;
            flex-direction:column ;
            position: relative;
            
        justify-content: center;
        height: 100%;
        flex: 50%;
        margin: auto;
          }
          .pic img{
  display: flex;
  max-width: 100%;
          }