@font-face {
  font-family: gotham; src: url('gothammedium.ttf') format("truetype");}
  @font-face {
    font-family: gothamlight; src: url('gothamlight.ttf') format("truetype");}
    @font-face {
      font-family: avant; src: url('itc_avant_garde_gothic_bold.otf') format("opentype");}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100%;
  background-color: rgb(9, 10, 10);
}


* {
  box-sizing: border-box;
 
}
header {
 
  text-align: center;
  align-items: center;
  justify-content:center;
}


.logo {
  margin: 65.8px 0 auto; /* Center the logo horizontally */
  width: 337.70px;
}

a {
    text-decoration:none;
    color: #777;
    font-family: gotham;
    text-align: center;
  }
    


#navbar ul {
  z-index: 5;
  list-style: none;
  
  margin: 0;
  display: flex;
  align-items: center; /* Vertically center the text within the list items */
  justify-content: center;
  padding: 32.1576px;
}

#navbar li {
  margin-right: 48.8263px; /* Adjust this value as needed for space between items */
  font-size:21.4356px ;
}

#navbar li:last-child {
  margin-right: 0;
}

#navbar a {
  text-decoration:none;
  color: #777;
  font-family: gotham;
  text-align: center;
}

#navbar a:hover{
  color: #fff;
  text-decoration: none;
  
}

.project{
  color: #fff;
}

.gallery {
  border: solid red;
  display: flex;
  align-items: center; 
  position: relative;
  justify-content: center;
  height: 720px;
  width: 50vw;
 flex: 1;
 overflow: hidden;
 margin-right: 50%;
}

.wrapper{
  display: flex;
  border: solid blue;
  height: 30vh;
}

.desc{
  background-color: aqua;
  border: solid white;
  display:flex;
  width:50vw;
  position: relative;
height: 720px;
flex: 1;
}

.gallery-container {
  align-items: center;
  display:flex;
  height: 720px;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-bottom:0;
 overflow: hidden;
}


.gallery-item {
 
 
  width: 90vw;
  max-width: 427px;
  height: 100%;
  max-height: 100vh;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  flex:1;
object-fit: contain;
box-shadow: 0 0 20px 5px #000;
}






.gallery-item-2,
.gallery-item-4 {
  height: 40vh;
  opacity: 1;
  width: auto;
  z-index: 1;
  border-color: aquamarine;
}


.gallery-item-1,
.gallery-item-5 {
  height: 30vh;
  opacity: 1;
  width: auto;
  z-index: 0;
  border-color: aquamarine;
}
.gallery-item-1 {
 
  opacity: 1;
  transform: translateX(-100%);
  border-color: aquamarine;
}
.gallery-item-2 {
 
  transform: translateX(-50%);
  border-color: aquamarine;
}


.gallery-item-3 {
 
  height: 50vh;
  opacity: 1;
  transform: translateX(0%);
  width: auto;
  z-index: 2;
  border-color: aquamarine;
  
 
}
.gallery-item img{
  width: 720px;
  height: 100%;
}

.gallery-item-4 {
  transform: translateX(50%);
  border-color: aquamarine;
}


.gallery-item-5 {
  opacity: 1;
  transform: translateX(100%);
}






.description-item {
  
  display: flex;
  margin-left:5vw;
  margin-right:5vw ;
  text-align: left;
  color: #fff;
  font-size: 21.4356px;
  font-family: gothamlight;
}
.description-item h1{
  font-family: avant;
  font-size: 56.116px;
line-height: 50px;
margin-bottom: 25px;
}
.description-item a:hover{
  color: #fff;
}


.buttons{
  z-index: 3;
  width: 90%;
 margin: 25px 0;
 align-items: center;
 justify-content: center;
 display: flex;
 position: relative;
 height: 10vh;
 display: flex;
 flex: 1;
position: relative;
}


.gallery-controls {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50%;
}


.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor:default;
  font-size: 0px;
  margin: auto;
  padding: 0 12px;
  text-transform: capitalize;
  transform: translateX(200%);
}


.gallery-controls button:focus {
  outline: none;
}


.gallery-controls-previous {
  position: relative;
  color: transparent;
}


.gallery-controls-previous::before {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  content: '';
  display: flex;
  height: 5px;
  
  padding: 20px;
  position:inline;
  
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
  flex: 1;
}




.gallery-controls-next {
  position: relative;
  color: transparent;
}


.gallery-controls-next::before {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  content: '';
  display: flex;
  height: 5px;
  padding: 20px;
  position: absolute;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
  flex: 1;
}




.gallery-nav {
  border: solid #fff;
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}


.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}


.gallery-nav li.gallery-item-selected {
  background: #fff;
}






.socials {
  
  margin: 28.1276px ;
  display: flex;
  height: 28.34px;
  justify-content: space-around;
  align-items: center;
  width: 256.0272px;
  margin: auto;

}

.socials a:hover{
opacity: 1;
}
.socials a{
  opacity:.5;
  }

.socials img {
  height: 100%;
}

.copytext{
  padding: 32.1576px;
  font-size:10.8677px ;
  text-align: center;
margin: auto;
font-family: gothamlight;
color: #fff;
}


/* Add a media query for screens with a maximum width of 768 pixels */
@media (max-width: 1080px) {
  .gallery,
  .desc {
    width: 100%; /* Set the width to 100% for full width on smaller screens */
    max-width: none; /* Reset max-width for full width */
  }

  .gallery {
    flex-direction: column; /* Stack items in a column */
    height: 50%; /* Auto height to accommodate content */
  }

  .desc {
     /* Set width to 100% for full width */
    height: 50%;
  }
}


 
.guideline {
  position: fixed;
  height: 100%;
  width: 2px; 
  background-color: white;
}


.vertical-center {
  left: 50%;
  transform: translateX(-50%);
}


.one-third-left {
  left: calc(33.33% - 1px); 
}


.one-third-right {
  left: calc(66.66% - 1px); 
}

