@font-face {
  font-family: gotham; src: url('gothammedium.ttf') format("truetype");}
  @font-face {
    font-family: gothamlight; src: url('gothamlight.ttf') format("truetype");}
    @font-face {
      font-family: avant; src: url('itc_avant_garde_gothic_bold.otf') format("opentype");}


.main-box{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#main{
  flex-direction: column;
  display: flex;
 align-items: center;
  width:fit-content;
  height: 50%;
  
  background-color: rgb(9, 10, 10);
  margin: auto;
  text-align: center;
justify-content: center;
position: relative;

}
#main img{


width: 700px;
height: 500px;
object-fit: cover;
margin: auto;
position: relative;
align-items: center;
justify-content: center;
}

#main p{
  display: flex;
 

  text-align: center;
  font-size:21.4356px ;
  font-family: gotham,  Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

margin: auto;
width: 50%;
}
#main a:hover{
  
  justify-content: center;
  text-align: center;
  font-size:21.4356px ;
  color: #fff;
}

body{
 
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  width: 100%;
  background-color: rgb(9, 10, 10);
}


* {
  box-sizing: border-box;
 
}
header {
  
  
  text-align: center;
  align-items: center;
  justify-content:center;
  
}




.homebutton {
  
  padding-top: 65.8px; 
  margin:auto; /* Center the logo horizontally */
  width: 337.70px;
  
}

a {
  margin: auto;
    text-decoration:none;
    color: #777;
    font-family: gotham;
    text-align: center;
  }
    


#navbar ul {
  
  z-index: 5;
  list-style: none;
  padding: 40.4976 ;
 width: fit-content;
  display: flex;
  align-items: center; /* Vertically center the text within the list items */
  justify-content:center;
  margin: auto;
}

#navbar li {
  margin-right: 48.8263px; /* Adjust this value as needed for space between items */
  font-size:21.4356px ;
}

#navbar li:last-child {
  margin-right: 0;
}

#navbar a {
  text-decoration:none;
  color: #777;
  font-family: gotham,  Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  text-align: center;
}

#navbar a:hover{
  color: #fff;
  text-decoration: none;
  
}

.project{
  color: #fff;
}


.wrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: auto;
  width: 75%;
}

.gallery {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 50%;
  flex: 50%;
  overflow: hidden;
}

.desc {
  
  display: inline-flex;
  width: fit-content;
  margin: auto;
  max-width: 50%;
  height: fit-content;
  flex: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1080px) {

  .empty{
    display: inline-flex;
   
    width:10%;
    margin:auto;
   max-width: 50%;
  height: fit-content;
  flex: 50%;
  position: relative;
  }
  .description-item {
  justify-content: center;
    display: flex;
    align-items: center;
    text-align: left;
    color: #fff;
    font-size: 21.4356px;
    font-family: gothamlight, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    position: relative;
    margin: auto 1vw;
  }
}






/* Add a media query for screens narrower than 1080px */
@media (max-width: 1080px) {
  .wrapper {
    flex-direction: column; /* Change to column layout */
  }

  .gallery,
  .desc {
    width: 100%; /* Take up full width */
    height: fit-content;
  }

  .wrapper2 {
    
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    width: 100%; /* Take up full width */
  }

  .empty{
    display: none;
    

    
    width:10%;
    margin:auto;
   max-width: 50%;
  height: fit-content;
  flex: 50%;
  position: relative;
  }

  .buttons {
    
    display: inline-flex;
    width: 100%; /* Take up full width */
    margin: auto;
    max-width: 100%; /* Adjust max-width for .empty */
    height: fit-content;
    flex: 100%; /* Take up full width */
    position: relative;
  }
  
  .buttons {
    
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .description-item{
    text-align: center;
align-items: center;
color: #fff;
font-size: 21.4356px;
font-family: gothamlight, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  
}



.wrapper2{
  
  display:flex;
  flex-direction: row;
  height: fit-content;
  margin: auto;
  width: 75%;
  padding-top: 40.4976px;
}




.buttons{
  
  display:flex;
  width: 50%;
  overflow: hidden;
 align-items: center;
 justify-content: center;
 
 position: relative;
 height: fit-content;
 flex: 50%;
 
}



.gallery-container {
  
  align-items: center;
  display:flex;
  height: 720px;
  position: relative;
  justify-content: center;
  width: 100%;
}


.gallery-item {
 
  width: 90vw;
  max-width: 427px;
  height: 100%;
  max-height: 720px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  flex:1;
object-fit: contain;
box-shadow: 0 0 20px 5px #000;
}
.gallery-item-2,
.gallery-item-4 {
  height: 40vh;
  opacity: 1;
  width: auto;
  z-index: 1;
  border-color: aquamarine;
}
.gallery-item-1,
.gallery-item-5 {
  height: 30vh;
  opacity: 1;
  width: auto;
  z-index: 0;
  border-color: aquamarine;
}
.gallery-item-1 {
  opacity: 1;
  transform: translateX(-100%);
  border-color: aquamarine;
}
.gallery-item-2 {
  transform: translateX(-50%);
  border-color: aquamarine;
}
.gallery-item-3 {
  height: 50vh;
  opacity: 1;
  transform: translateX(0%);
  width: auto;
  z-index: 2;
  border-color: aquamarine;
}

.gallery-item-4 {
  transform: translateX(50%);
  border-color: aquamarine;
}
.gallery-item-5 {
  opacity: 1;
  transform: translateX(100%);
}
.gallery-item img{
  width: 720px;
  height: 100%;
}





.description-item h1{
  font-family: avant, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 56.116px;
line-height: 50px;
margin-bottom: 25px;
}
.description-item a:hover{
  color: #fff;
}





.gallery-controls {
 
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: fit-content;
  width: 100%;
  flex: 1;
  
 
}
.gallery-controls button {
  
  opacity: 25%;
  cursor:pointer;
  font-size: 0px;
  margin: auto;
  padding: 0 2px;
  text-transform: capitalize;
  color: none;
  border:none
 
}
.gallery-controls button:focus {
  outline: none;
  background-color:transparent;
  border: none;
}
.gallery-controls button:hover {
  outline: none;
  background-color:transparent;
  opacity:100% ;
}

.gallery-controls-previous {
  background-color: transparent;
  position: relative;
  color: transparent;
}
.gallery-controls-next {

  position: relative;
  color: transparent;
  background-color: transparent;
}
.gallery-controls-previous::before {
 
  content: 'previous';
  display: flex;
  background-image: url(images/arrow2.svg);
  background-repeat: no-repeat;
  height: 40.08px;
  width: 21.84px;
  position:relative;
  transition: left 0.15s ease-in-out;
  align-items: center;
  justify-content: center;
  flex: 1;
}



.gallery-controls-next::before {
 
  content: 'next';
  display: flex;
  background-image: url(images/arrow1.svg);
  background-repeat: no-repeat;
  height: 40.08px;
  width:21.84px ;
  position: relative;
  transition: right 0.15s ease-in-out;
  align-items: center;
  justify-content: center;
  flex: 1;
}



.gallery-nav {
 
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.gallery-nav li {
  
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}
.gallery-nav li.gallery-item-selected {
  background: red;
}






.socials {
  
  margin: 28.1276px ;
  display: flex;
  height: 28.34px;
  justify-content: space-around;
  align-items: center;
  width: 256.0272px;
  margin: auto;

}

.socials a:hover{
opacity: 1;
}
.socials a{
  opacity:.5;
  }

.socials img {
  height: 100%;
}

.copytext{
  padding: 32.1576px;
  font-size:10.8677px ;
  text-align: center;
margin: auto;
font-family: gothamlight,  Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
color: #fff;
}

.twitchwrap{
  
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.twitchcreator{
  width: 300px;
  height: 300px;
  display: flex;
  margin: 24px auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.twitchwrap p {

  font-family: gotham, Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21.4356px;
}











.imagegallery{
  align-items: center;
  justify-content: center;
  border: solid red;
  display: flex;
  flex-wrap: wrap;
}

.imagegallery a{
  padding: 10px;
}
